body{
    font-family: sans-serif;
    width: 100%;
    background-color: antiquewhite;
}

div{
    display: inline-block;
    text-align: center;
}

.flex{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.splash{
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(0,153,255,0.2) 50%, rgba(255,255,255,0.2) 100%);
    overflow: hidden;
}

h2{
    inline-size: 400px;
    text-wrap: avoid;
}


.button {
    background-color: cadetblue;
    border: thick;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    display: inline-block;
    font-size: 16px;
}